<% include ../partials/header %>
<h1>Login</h1>

<form class="form-inline" action="/login" method="post">
  <div class="form-group">  
    <input type="text" name="username" placeholder="User Name">
    <input type="password" name="password" placeholder="Passsword">
  </div>
  <button class="btn btn-default">Login!</button>
</form>
<% include ../partials/footer %>
