<html>
    <head>
        <title>My First Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <header class="ui fixed menu inverted">
            <nav class="ui container">
                <div class="header item"><i class="hashtag icon"></i>Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/articles/new" class="item">New Post</a>
            </nav>
        </header>