#newsletter{
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-rule: 1px solid #ddccb5;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -moz-column-rule: 1px solid #ddccb5;
  column-count: 2;
  column-gap: 20px;
  column-rule: 1px solid #ddccb5;
  border-top: 1px solid #ddccb5;
  border-bottom: 1px solid #ddccb5;
}

.callout {
  border: 1px solid #ddccb5;
  padding: 5px;
  float: right;
  width: 50%;
  margin: 3px 3px;
}
.callout:after {
  content: " ";
  clear: both;
  display: table;
}

#header, #footer {
  text-align: center;
}
