/* line 2, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_base.scss */
:root {
  --color-primary: #eb2f64;
  --color-primary-dark: #BA265D;
  --color-primary-light: #FF3366;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

/* line 20, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 25, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit; }

/* line 31, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

/* line 36, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

/* line 2, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.logo {
  height: 3.25rem;
  margin-left: 2rem; }

/* line 9, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.search {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
  justify-content: center; }
  /* line 15, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    /* line 27, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    /* line 33, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  /* line 40, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  /* line 44, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .search::-webkit-inout-placeholder {
    font-weight: 100;
    background-color: var(--color-grey-light-4); }
  /* line 49, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    /* line 53, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
    .search__button:focus {
      outline: none;
      background-color: var(--color-grey-light-3); }
    /* line 58, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
    .search__button:active {
      transform: translateY(2rem); }
  /* line 64, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

/* line 71, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center; }
  /* line 77, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  /* line 85, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  /* line 89, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .user-nav__icon-box {
    position: relative; }
  /* line 93, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  /* line 99, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .user-nav__notification {
    font-size: .8rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 116, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

/* line 126, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  /* line 132, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .side-nav__item {
    position: relative; }
    /* line 135, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  /* line 140, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .side-nav__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  /* line 154, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  /* line 160, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  /* line 163, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  /* line 179, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

/* line 190, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  /* line 196, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .legal__link:link, .legal__link:visited {
    color: var(--color-grey-light-4);
    text-decoration: none;
    transition: color .2s; }
  /* line 202, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .legal__link:hover {
    color: var(--color-grey-light-1); }

/* line 209, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.gallery {
  display: flex; }
  /* line 211, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .gallery__photo {
    width: 100%;
    display: block; }

/* line 220, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.overview {
  display: flex;
  border-bottom: var(--line);
  align-items: center; }
  /* line 225, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  /* line 233, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .overview__stars {
    margin-right: auto;
    display: flex; }
  /* line 238, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  /* line 245, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  /* line 251, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .overview__icon-location {
    margin-right: .5rem; }
  /* line 255, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .overview__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  /* line 268, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .overview__rating-average {
    font-size: 2.25rem;
    text-transform: uppercase;
    margin-bottom: -3px; }

/* line 281, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  /* line 292, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  /* line 296, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .btn-inline:focus {
    outline: none;
    animation: pulse 1s infinite; }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

/* line 322, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

/* line 328, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  /* line 338, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  /* line 343, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .list__item::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .7rem;
    /*     background-image: url(../img/chevron-thin-right.svg);
    background-size: cover; */
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover; }

/* line 366, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  /* line 373, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .recommend__count {
    margin-right: auto; }
  /* line 381, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    /* line 388, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_components.scss */
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

/* line 1, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_layout.scss */
.container {
  max-width: 120rem;
  margin: 8px auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }

/* line 8, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_layout.scss */
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 20, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_layout.scss */
.content {
  display: flex; }

/* line 25, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_layout.scss */
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* line 34, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_layout.scss */
.hotel-view {
  background-color: #fff;
  flex: 1; }

/* line 40, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_layout.scss */
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: ver(--line); }

/* line 47, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_layout.scss */
.description {
  font-size: 1.4rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem; }

/* line 56, /Users/antoniofe/Workspace/becoming-a-developer/advanced-css-and-sass/sec_7_trillo_project/sass/_layout.scss */
.user-reviews {
  flex: 1;
  background-color: greenyellow; }

/*# sourceMappingURL=style.css.map */