<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body>
    <div class="profile">
      <!-- When include the hash in webpack.dev.js image is broken, to solve require statement -->
      <img src="./images/img.jpg" alt="An image">
      <h1>Hello Dublin!!!</h1>
    </div>
    <script type="text/javascript" src="main-bundle.js"></script>
  </body>
</html>
