body{
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Roboto
}
h1 {
  background: #2980b9;
  color: #ffffff;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 400;
}

input {
  font-size: 18px;
  background: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
  border: 1px solid rgba(0,0,0,0)
}

input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #ffffff;
  height: 40px;
  line-height: 40px;
  color: #666666;
}

li:nth-child(2n){
  background: #f7f7f7;
}

span {
  background: #e74c3c;
  margin-right: 20px;
  text-align: center;
  color: #fff;
  width: 0px;
  display: inline-block;
  height: 40px;
  opacity: 0;
}

li:hover span {
  width: 40px;
  transition: 0.2s linear;
  opacity: 1;
}

.fa-plus {
  float: right;
}

.task-off {
  color: rgb(128, 128, 128);
  text-decoration:  line-through;
}

div[id^='template'] {
  display: none;
}

#container {
  width: 360px;
  margin: 100px auto 0;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1)
}
