.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;

  padding: 8rem;
}

.nav {
  list-style: none;

  // Eventhough layout of nav is one dimension it's better to work with grids instead flexbox
  // Due that grids allow to easily manage gaps between items
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, .05);
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  #udemy-link:link,
  #udemy-link:visited {
    text-decoration: none;
    color: inherit;
    transition: all .2s;
  }

  #udemy-link:hover,
  #udemy-link:active {
    color: $color-grey-light-1;
  }


}
