<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="numberGenerator" class="com.silveste.NumberGeneratorImpl" />



    <bean id="game" class="com.silveste.GameImpl" >
         <!--
         The bean definition has been changed to include a dependency injection
         constructor-arg and ref are used to specified the id that is going to be injected by the container
         note that ref and the bean id are the same ob the object injected are the same.
         -->
        <!-- constructor arg is used in contructor based strategy of dependency injection
        Now using setter based so that this is commented
        <constructor-arg ref="numberGenerator"/>-->

        <!--setter based dependency injection uses the property tag
        the property uses two attributes name and ref
        name must match the name of the field in the class (which in gameImple is numberGenerator)
        The ref matches the Id of the bean (also numberGenerator in this case)-->
        <property name="numberGenerator" ref="numberGenerator" />
    </bean>
</beans>